@import 'constants';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: ($monsterCardHeight * 2) + 2rem;
  &.hidden {
    visibility: hidden;
  }
}

.fighters {
  width: $monsterCardWidth;
  justify-content: space-around;
  display: flex;
  &.doubleWidth {
    width: ($monsterCardWidth * 2) + 1rem;
  }
}

.monsters {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}
