.container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.battles, .friends {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
