.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fight {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.party {
  grid-row: 1;
  grid-column: 1;
}

.room {
  grid-row: 1;
  grid-column: 2;
}

.level {
  display: flex;
  flex-direction: column;
}

.newGameButtonContainer {
  align-self: flex-end;
}

.newGame {
  padding: 0.4rem;
  border-radius: 0.4rem;
  text-align: center;
}
