@import 'constants';

.container {
  display: flex;
  flex-direction: column;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.2rem;
  grid-auto-rows: 1fr;
}

.pointsRemaining {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 0.4rem;
  text-align: center;
  align-self: center;
}

.startGame {
  padding: 0.4rem;
  text-align: center;
  border-radius: 0.4rem;
  align-self: flex-end;
  color: green;
  background-color: white;
  &.disabled {
    color: grey;
    background-color: lightgrey;
    pointer-events: none;
    cursor: forbidden;
  }
  grid-column: 1 / -1;
}
